.yazis1{
    color: white;
    font-size: 40px;
    font-family: monospace;
    }
    .yazis2{
        font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 30px;
    }
    .yazis3{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 20px;
        color: rgb(220, 236, 236);
    }
    .buton{
        border-radius: 10px;
        background-color: teal;
        color: white;
        font-family: papyrus;
        height: 50px;
        width: 100px;
    
    }
    .buton:hover{
    background-color: rgb(3, 54, 54);
    }